<!--  SECTION(system) -->
<section id="Section-system" class="item content">
    <div class="container toparea">
        <div class="underlined-title">
            <div class="editContent">
                <h1 class="text-center latestitems">99Dogs</h1>
                <p class="text-center latestitems">Conheça um pouco mais da aplicação.</p>
            </div>
            <div class="wow-hr type_short">
                <span class="wow-hr-h">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 fadeInUpNow">
                <div class="boxservice">
                    <i class="fa fa-paw"></i>
                    <h3>Dog walker</h3>
                    <p>
                        Controle seus passeios em um só lugar e receba assim que o passeio for finalizado.
                    </p>
                </div>
                <div class="boxservice">
                    <i class="fa fa-user"></i>
                    <h3>Tutor</h3>
                    <p>
                        Encontre o melhor dog walker para seu pet.
                    </p>
                </div>
                <div class="boxservice rightb">
                    <i class="fa fa-map"></i>
                    <h3>Passeio em tempo real</h3>
                    <p>
                        Por meio do nosso aplicativo, acompanhe o passeio do seu pet em tempo real.
                    </p>
                </div>
                <div class="boxservice bottomb">
                    <i class="fa fa-ticket"></i>
                    <h3>Sistema de Ticket</h3>
                    <p>
                        Compre o ticket e agende um passeio para seu pet.
                    </p>
                    <p>
                        Pague em boleto, cartão de crédito, cartão de débito ou pix, direto pela plataforma.
                    </p>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
</section>

<br><br>

<!-- SECTION(team) -->
<section id="Section-team" class="fullbg color-white">
    <div class="container">
        <div class="underlined-title">
            <div class="editContent">
                <h1 class="text-center latestitems">Nosso time</h1>
            </div>
            <div class="wow-hr type_short">
                <span class="wow-hr-h">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                </span>
            </div>
        </div>
        <div class="row animated fadeInUpNow">
            <div class="col-md-4">
                <div class="thumbnail">
                    <img src="../../assets/images/profile/luiscovelo.jpg" alt="" style="max-height: 222px;">
                    <div class="caption">
                        <h4>Luis Felipe Covelo</h4>
                        <span class="primarycol">- Analista de Sistemas -</span>

                        <ul class="social-icons">
                            <li><a href="https://www.facebook.com/luis.f.covelo" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://github.com/luiscovelo" target="_blank"><i class="fa fa-github"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <img src="../../assets/images/profile/marco.jpg" alt="" style="max-height: 222px;">
                    <div class="caption">
                        <h4>Marco Antônio</h4>
                        <span class="primarycol">- Analista de Sistemas -</span>
                        <ul class="social-icons">
                            <li><a href="https://www.facebook.com/marcoantonio.teodoro.75" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://github.com/Marcomatj" target="_blank"><i class="fa fa-github"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <img src="../../assets/images/profile/gabriel.jpg" alt="" style="max-height: 222px;">
                    <div class="caption">
                        <h4>Gabriel Carvalho</h4>
                        <span class="primarycol">- Analista de Sistemas -</span>
                        <ul class="social-icons">
                            <li><a href="https://www.facebook.com/people/Gabriel-Carvalho/100003588468022" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://github.com/GabrielCarvalho10" target="_blank"><i class="fa fa-github"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>