<!-- CONTENT =============================-->
<section class="item content">
    <div class="container toparea">
        <div class="underlined-title">
            <div class="editContent">
                <h1 class="text-center latestitems">Contato</h1>
                <p class="text-center latestitems">Sua opinião é importante para nós.</p>
            </div>
            <div class="wow-hr type_short">
                <span class="wow-hr-h">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="done">
                    <div class="alert alert-success">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        Sua mensagem foi enviado com sucesso. Obrigado!
                    </div>
                </div>
                <form method="post" action="#" id="contactform">
                    <div class="form">
                        <input type="text" name="name" placeholder="Seu nome *">
                        <input type="text" name="email" placeholder="Seu e-mail *">
                        <textarea name="comment" rows="7" placeholder="Escreva sua mensagem *"></textarea>
                        <input type="submit" id="submit" class="clearfix btn" value="Enviar" disabled>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>