<!-- AREA =============================-->
<div class="item content">
    <div class="container toparea">
        <div class="underlined-title">
            <div class="editContent">
                <h1 class="text-center latestitems">Artigos</h1>
                <p class="text-center latestitems">Veja abaixo a importância do passeio na vida do seu pet.</p>
            </div>
            <div class="wow-hr type_short">
                <span class="wow-hr-h">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                </span>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-md-4">
                <!-- <i class="fa fa-list-ol infoareaicon"></i> -->
                <div class="infoareawrap">
                    <h1 class="text-center subtitle">10 dicas para deixar seu cachorro feliz</h1>
                    <p>
                        Assim como nós, os cães também precisam de horários e regras para o bom convívio social, mas, nem por isso, essas ações precisam ser chatas. Aliás, eles curtem...
                    </p>
                    <p class="text-center">
                        <a href="https://www.magnuspet.com.br/blog/10-dicas-para-deixar-seu-cachorro-feliz" target="_blank">- Continuar lendo -</a>
                    </p>
                </div>
            </div>
            <!-- /.col-md-4 col -->
            <div class="col-md-4">
                <!-- <i class="fa fa-comments infoareaicon"></i> -->
                <div class="infoareawrap">
                    <h1 class="text-center subtitle">Desempregado(a)? Que tal ser Dog Walker!</h1>
                    <p>
                        A rotina dos brasileiros mudou drasticamente com a pandemia, mas não foram só nós, humanos, que estamos sofrendo com os efeitos desse vírus...
                    </p>
                    <p class="text-center">
                        <a href="https://mercadotrabalho.com.br/2020/08/25/desempregado-que-tal-ser-dog-walker/" target="_blank">- Continuar lendo -</a>
                    </p>
                </div>
            </div>
            <!-- /.col-md-4 col -->
            <div class="col-md-4">
                <!-- <i class="fa fa-bullhorn infoareaicon"></i> -->
                <div class="infoareawrap">
                    <h1 class="text-center subtitle">Relação entre homens e animais.</h1>
                    <p>
                        Cachorro ou gato? Ou talvez coelho, iguana, papagaio ou até um peixinho dourado... Não importa qual seja a opção, o fato é que os bichos de estimação estão em boa parte...
                    </p>
                    <p class="text-center">
                        <a href="http://cienciaecultura.bvs.br/scielo.php?script=sci_arttext&pid=S0009-67252020000100004" target="_blank">- Continuar lendo -</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
